<!DOCTYPE html>
<html>
    <head>
        <title>Damian Reiter</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/navbar.css">
        <link rel="stylesheet" type="text/css" href="/project.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <!-- TODO Add scrollspy to highlight nav buttons (check bootstrap docs) -->
    </head>
    <body>