<% include partials/header %>

        <div>
            <% include partials/navbar %>

                <div id="text-header">
                    <h1>Damian Reiter</h1>
                    <h4>1A Computer Engineering</h4>
                    <h6>At the University of Waterloo</h6>
                </div>
        </div> <!-- navbar div -->

        <div id="content-container"> <!-- Content div -->

            <div id="content">
                <div id="welcome-container" class="info-block">
                    <div class="container">
                        <div class="row top-btm-margin">
                            <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 img-col welcome-img">
                                <img src="img/default-avatar.png" class="img-circle">
                            </div>

                            <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                <h2>Welcome</h2>
                                <hr class="hr-1">
                                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="about-container" class="info-block">
                    <div class="container">
                        <div class="row top-btm-margin">
                            <div class="col-lg-3 col-lg-offset-1 col-lg-push-8 col-md-4 col-md-offset-1 col-md-push-8 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 img-col about-img">
                                <img src="img/me-3.jpg" class="img-circle">
                            </div>
                            <div class="col-lg-7 col-lg-pull-3 col-md-7 col-md-offset-0 col-md-pull-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                <h2>About</h2>
                                <hr class="hr-1">
                                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="projects-container" class="info-block">
                    <h3> Personal Projects </h3>
                    <hr class="hr-2">
                    <div class="container">
                        <div class="row">
                            <div class="info-card col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
                                <div class="thumbnail">
                                    <a href="/project/homebase">
                                         <div class="img-wrapper thumbnail">
                                            <img src="img/homebase.png">
                                        </div>
                                        <p class="text-center">Home Base is a mock campsite review website, complete with a functional backend. Users can create, review and comment on campsites.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="info-card col-lg-3 col-md-4 col-sm-5">
                                <div class="thumbnail">
                                    <a href="/project/placefinder">
                                        <div class="img-wrapper thumbnail">
                                            <img src="img/placefinderwip.jpg">
                                        </div>
                                        <p class="text-center">PlaceFinder is an extremely fast way to find information on many different kinds of establishments near you at the touch of a button.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="info-card col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
                                <div class="thumbnail">
                                    <a href="/project/easyweather">
                                        <div class="img-wrapper thumbnail">
                                            <img src="img/easyweather.png">
                                        </div>
                                        <p class="text-center">This is a description of what is in the image above. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,</p>
                                    </a>
                                </div>
                            </div>
                            <div class="info-card col-lg-3 col-md-4 col-sm-5">                                         
                                <div class="thumbnail">
                                    <a href="#">
                                    <div class="img-wrapper thumbnail">
                                        <img src="img/easyweather.png">
                                    </div>
                                    <p class="text-center">This is a description of what is in the image above. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container projects-desc">
                        <p class="text-center project-sub">These are a few of the projects I have made over the summer. My main goal while making these projects was to learn as much as I could by the time school started.</p>
                        
                    </div>
                </div> <!-- project div -->

            </div> <!-- content div -->

            
        </div>
        
<% include partials/footer %>