<% include partials/projectheader %>
<% include partials/navbar %>

<div class="container content-main">
  <div id="text-header">
        <h1><%= projectName %></h1>
  </div>
    
    

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-caption">
            <h4>Item 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h4>Item 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h4>Item 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus, placeat, tempora,  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>
    <a href="#project-info"><h4 class="text-center more-info"><i class="fa fa-chevron-down"></i> More Info <i class="fa fa-chevron-down"></i></h4></a>
</div>

<div id="project-info" class="info-block">
  <div class="container">
    <h1>Temporary text for project info block</h1>
  </div>
</div>
    

<% include partials/footer %>