nav {
    opacity: 0;
    animation: fadein 1s forwards, slidein 1s forwards;
    animation-delay: 1s;
}

@keyframes fadeinandmove {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidein {
  from {
    margin-left: 1%;
  }
  
  to {
    margin-left: 0%;
  }
}