/* NAVBAR STYLES */

.navbar-inverse {
    background: none;
    border: none;
    padding: 5px 10px;
    transition: all 0.4s;
}

.dropdown-item .contact-hidden {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: auto 0;
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
}

.padding-div {
    padding: 5px;
}

.dropdown-item .contact-hidden span {
    vertical-align: sub;
    cursor: pointer;
}

.contact-hidden {
    overflow: hidden;
}

.contact-hidden .msg-default,
.contact-hidden .msg-copied {
    opacity: 1;
    transition: transform 0.25s, opacity 1s;
    -webkit-transition: -webkit-transform 0.25s, opacity 0.4s;
    display: block;
    position: relative;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    z-index: 1;
}

.msg-copied {
    margin-top: -20px;
}

.contact-hidden.status-default .msg-default,
.contact-hidden.status-copied .msg-copied {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    z-index: 2;
}

.contact-hidden.status-default .msg-copied {
    opacity: 0;
}

.contact-hidden.status-copied .msg-default {
    opacity: 0;
}

.contact-hidden .status-copied {
    padding-top: -40px;
}

.dropdown-item .display-block {
    height: 30px;
    border: 1px solid #e3e3e3;
}

.dropdown-menu {
    width: 230px;
    position: absolute;
    padding: 0;
    background: #fff;
    left: 50%;
    right: auto;
}

.dropdown-container li {
    height: 100%;
    width: 100%;
}

.dropdown-item a {
    position: relative;
    display: block;
    height: 40px;
    border-bottom: 1px solid #EEF1F6;
    text-decoration: none;
    font-size: 14px;
    color: #1E2630;
    opacity: 0.8;
    padding: 0 20px;
}

.dropdown-item a:hover {
    text-decoration: none;
    background-color: #F7F8FB;
    opacity: 1;
}

.dropdown-item i {
    display: inline-block;
    color: #1E2630;
    text-decoration: none;
    margin-top: 4px;
    height: 30px;
    width: 30px;
    line-height: 2.3;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50px;
    transition: all .3s ease-in-out;
    text-align: center;
}

.dropdown a[aria-expanded="true"] {
    background-color: transparent !important;
} .dropdown a[aria-expanded="true"]:focus {
    border-color: white;
}

.nav {
    background-color: transparent;
    box-shadow: none;
    padding: 10px 0;
}

.navbar-right li .navbar-link {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: 8px 15px;
    margin: 4px 4px 4px 4px;
    min-width: 100px;
    transition: all 0.28s;
    font-size: 13.333px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    color: #fefefe !important;
}

.navbar-right li.navitem-bold .navbar-link {
    border-radius: 0;
    border: 3px solid white;
    min-width: 120px;
} .navbar-right li.navitem-bold .navbar-link:hover {
    opacity: 1 !important;
    border: 3px solid white !important; 
}

.navitem-bold .navbar-link {
    opacity: 0.75;
    /* border: 3px solid #eeeeee; */
}

.navbar-right:hover .navbar-link {
    opacity: 0.75;
}

.navbar-right li .navbar-link:hover {
    border-bottom: 3px solid white;
    opacity: 1 !important;
}

.navbar-inverse .navbar-collape.in {
    opacity: 1;
}

.navbar-close {
    background-color: #1F2833;
    border-bottom: 1px solid #C5C6C7;
    box-shadow: 2px 0px 4px black;
    padding: 0;
}

ul.nav {
    transition: all 0.3s;
}

.navbar-close ul.nav {
    padding: 5px 0;
}

.navbar-mobile {
    padding: 5px 5px;
}

.navitem-bold {
    font-weight: bold;
}
