#text-header {
    padding-top: 70px;
    margin: 25px auto;
}

.container.main {
    margin-top: 130px;
    margin-bottom: 130px;
}

.carousel-inner .item img {
    background-size: cover;
}

.carousel-indicators li {
  background-color: rgba(20,20,20,.35);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control .fa {
    position: absolute;
    top: 50%;
}

.fa.fa-chevron-left {
    margin-left: -15px;
}

.project-info .row div {
    margin-top: 50px;
}

.project-info p {
    color: #eee;
    font-size: 1.5em;
    margin: 0;
}

.skills-info {
    background: rgba(255,255,255,0.5);
    margin-top: 50px;
    border-radius: 10px;
}

.skills-list li {
    margin-top: 10px;
    font-size: 20px;
}

#carousel-example-generic {
    max-height: 580px;
    max-width: 350px;
    height: auto;
    width: auto;
    overflow: hidden;
}

h1 {
    font-size: 40px;
}

h3, h4 {
    font-size: 26px;
}

h5 {
    font-size: 15px;
}

p {
    font-family: 'Segoe UI';
}