#text-header {
    padding-top: 70px;
    margin: 25px auto;
}

.container.main {
    margin-top: 130px;
    margin-bottom: 130px;
}

.carousel-inner .item img {
    background-size: cover;
}

.carousel-indicators li {
  background-color: rgba(20,20,20,.35);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control span.fa {
    position: absolute;
    top: 50%;
}

.project-info {
    margin-top: 50px;
}
#carousel-example-generic {
    max-height: 580px;
    max-width: 350px;
    height: auto;
    width: auto;
    overflow: hidden;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 26px;
}

p {
    font-family: 'Segoe UI';
}