#text-header {
    padding-top: 70px;
    margin: 25px auto;
}

.carousel {
    background: #409682;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #2F6F60;
}

.item {
    height: 580px;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 26px;
}

p {
    font-family: 'Segoe UI';
}