#text-header {
    margin: 170px auto 170px auto;
}

#content-container {
    background: rgba(10, 50, 80, 0.7);
    border-top: 6px solid grey;
    border-bottom: 6px solid grey;
}

#projects-container {
    padding: 110px 0;
} #projects-container h3 {
    margin-top: 0;
    font-size: 40px;
    color: #1F2833
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.top-btm-margin {
    margin: 80px 0;
}

.text-center {
    text-align: center;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
} .thumbnail {
    border: none;
}

.footer-div {
    height: 250px;
    background-color: #1F2833;
    padding: 65px 50px;
    width: 100%;
    color: #eee;
    text-align: center;
    font-size: 1.1em;
}

.footer-div a {
    display: inline-block;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    margin: 0 4px;
    height: 36px;
    width: 36px;
    font-size: 1.6rem;
    line-height: 2.3;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

.footer-div a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    border: none;
}

.info-block {
    background: #fff;
    color: #666666;
} .info-block:nth-of-type(2n) {
    background: #eeffff;
}

.info-block .img-col {
    padding: 0 20px;
    text-align: center;
}

.info-block h1, h2{
    background: none;
    color: #222222;
}

.info-block h3 {
    text-align: center;
}

.info-block h2 {
    font-size: 4em;
    margin: 0;
    padding-top: 10px;
    line-height: 1;
    text-align: center;
}

.info-card img {
    transition: all 0.2s;
}

.img-wrapper {
    overflow: hidden;
    border: none;
    border-radius: 3px;
    padding: 0;
}


.img-circle {
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 10% 0;
    height: 200px;
}

.class-header {
    text-align: center;
}

.projects-desc {
    margin-top: 30px;
}

.row {
    vertical-align: middle;
}

.container .row .info-card a:hover{
    text-decoration: none;
    color: #337ab7;
}

.project-sub {
    margin: 20px 290px;
}

a:hover img{
     opacity: 0.9; 
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    transform: scale(1.07); 
}

body {
    background: url(img/bg.jpg);
    background-repeat: no-repeat;
    font-family: 'Montserrat'; 
    /* font-family: 'Segoe UI Black'; */
}

h1, h4, h6 {
    color: #fefefe;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 0px 1px 1px gray;
}

.hr-1 {
    margin: 15px 10%;
}

.hr-2 {
	height: 6px;
	background: url(img/hr-img.png) repeat-x 0 0;
    border: 0;
    margin: 20px 20%;
}

h1 {
    font-size: 8em;
}

h4 {
    font-size: 3em;
}

h6 {
    font-size: 2em;
}